# Copyright (C) 2010-2022 Belledonne Communications SARL
# SPDX-License-Identifier: LGPL-2.1-or-later

---
Language:        Cpp
BasedOnStyle:  LLVM
AlignConsecutiveDeclarations: Consecutive
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortFunctionsOnASingleLine: None
BinPackParameters: false
BitFieldColonSpacing: None
ColumnLimit:     120
IndentWidth:     2
...
