/features/sofia-sip/sofia_features.h
/http/http_parser_table.c
/http/http_tag.c
/http/http_tag_ref.c
/http/sofia-sip/http_protos.h
/http/sofia-sip/http_tag.h
/iptsec/auth_tag_ref.c
/msg/msg_mime_table.c
/msg/sofia-sip/msg_mime_protos.h
/msg/sofia-sip/msg_protos.h
/msg/test_protos.h
/msg/test_table.c
/nea/nea_tag_ref.c
/nta/nta_tag_ref.c
/nth/nth_tag_ref.c
/nua/nua_tag_ref.c
/sdp/sdp_tag_ref.c
/sip/sip_parser_table.c
/sip/sip_tag.c
/sip/sip_tag_ref.c
/sip/sofia-sip/sip_extra.h
/sip/sofia-sip/sip_hclasses.h
/sip/sofia-sip/sip_protos.h
/sip/sofia-sip/sip_tag.h
/soa/soa_tag_ref.c
/stun/stun_tag_ref.c
/su/addrinfo
/su/localinfo
/su/sofia-sip/stamp-h2
/su/sofia-sip/su_configure.h
/su/su_tag_ref.c
/tport/tport_tag_ref.c
/url/url_tag_ref.c
